<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DATA_LAYER.DBSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DATA_LAYER.DBSettings.Connection_String_Local" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=Scrutiny.mdb" />
        <add name="DATA_LAYER.DBSettings.Connection_String_Web" connectionString="Data Source=sagartpc;Initial Catalog=BioRation_BEed_NEw;user id=sa;password=ganesh;" />
    </connectionStrings>
    <userSettings>
        <DATA_LAYER.DBSettings>
            <setting name="Connection_Type" serializeAs="String">
                <value>3</value>
            </setting>
        </DATA_LAYER.DBSettings>
    </userSettings>
</configuration>