<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Crystal.Reports" version="13.0.15.1840" targetFramework="net20" />
  <package id="CrystalDecisions.Windows.Forms" version="1.0.0" targetFramework="net20" />
  <package id="KryptonWinFormControls" version="4.4.1.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net20" requireReinstallation="true" />
  <package id="System.Core" version="3.5.21022.801" targetFramework="net20" />
  <package id="System.Xml.Linq" version="3.5.21022.801" targetFramework="net20" />
</packages>